.cargar-usuarios{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo);
      border: 1rem solid var(--border); 
}
  
  @media screen and (max-width: 662px) {
    .cargaDeUsuarios{
        width: 90%;
    }
  }