.cardVerReciboVuelo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datos-asociados{
    font-size: 1rem !important;
}

.titulo-itinerarios{
    padding-top: 10px;
    font-size: 1.4rem !important;
    text-align: center;
}