.detallesAsociadosContainer {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detallesAsociadosContainerButtons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.titulo-roles{
  padding-top: 10px;
  font-size: 1.4rem !important;
  text-align: center;
}
.roles-asociado{
  text-align: center;
}


.detallesUsuarioBoton:hover{
  color: black;
  transform: scale(1.5);
  transition: all 150ms ease;
}

